/****** Object:  UserDefinedFunction [dbo].[getCustnumb]    Script Date: 9/19/2022 5:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[getCustnumb](@TBL VARCHAR(100),@AcctNumb VARCHAR(500))
RETURNS VARCHAR(50)
AS
BEGIN

DECLARE @CustNumb VARCHAR(50)

IF @TBL LIKE 'DL_Acct_DP%' OR @TBL LIKE '%_MISC'
    SELECT TOP 1 @CustNumb=[Cust Numb] FROM DBO.DL_Cust_Rlt_ToAcct WHERE [Acct Numb HASHED]=@AcctNumb AND [Cust Acct Rlt Type Code] ='901'
--12/8/2021 DL: Added else condition to change relationship between DL_Cust_Rlt_ToAcct and DL_Acct_SB* to use [Concat App Code Acct Numb HASHED] if processing DL_Acct_SB* tables
ELSE IF @TBL LIKE 'DL_Acct_SB%'
	SELECT TOP 1 @CustNumb=[Cust Numb] FROM DBO.DL_Cust_Rlt_ToAcct WHERE [Concat App Code Acct Numb HASHED]=@AcctNumb AND [Cust Acct Rlt Type Code] ='901'
ELSE IF @TBL LIKE 'DL_Card_Debit_AtchAcct%'
	SELECT TOP 1 @CustNumb=[Cust Numb] FROM DBO.DL_Card_Debit WHERE [Debit Card Numb HASHED]=@AcctNumb
ELSE
    SELECT TOP 1 @CustNumb=[Cust Numb] FROM DBO.DL_Cust_Rlt_ToAcct WHERE [Acct Numb HASHED]=@AcctNumb

RETURN @CustNumb
END
