/****** Object:  StoredProcedure [dbo].[getDeltaCount]    Script Date: 9/19/2022 5:15:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[getDeltaCount](@TBL VARCHAR(100),@INSCOUNT INT OUT,@UPDCOUNT INT OUT,@DELCOUNT INT OUT)
AS
BEGIN

IF @TBL IS NULL OR @TBL=''
    BEGIN
	    ;THROW 51000, 'Table name must be provided!', 1;  
		RETURN;
	END
	

DECLARE @SQL VARCHAR(MAX),@LKDCUSTID VARCHAR(4000)='',@K VARCHAR(5000)='',@NK VARCHAR(100)='',
@KA VARCHAR(5000)='',@I VARCHAR(100)='',@II VARCHAR(100)='',@IV VARCHAR(4000)='',
@SMO VARCHAR(4000)='',@BRANCHFILTER VARCHAR(4000)='',@CC VARCHAR(1000)='',@ISCUSTTBLBRANCHFILTER BIT=0

IF @@SERVERNAME='fb-cus-fbhub-test-ssv-01'
    BEGIN
	    IF @TBL='DL_Customer'
		    SET @CC = ' AND A.[Cust Branch Numb] IN(SELECT [Branch Number] FROM [lookup].[Branch] WHERE [Active Environment]=''Y'') '
		ELSE
		    BEGIN
				SET @BRANCHFILTER=CHAR(10) + ' JOIN DBO.DL_Customer K ON K.[Cust Numb]=B.[Cust Numb] AND 
				K.[Cust Branch Numb] IN(SELECT [Branch Number] FROM [lookup].[Branch] WHERE [Active Environment]=''Y'')' + CHAR(10)
				SET @ISCUSTTBLBRANCHFILTER=1
			END
	END

IF @TBL='DL_SM_Sales_Request'
    SET @SMO=' A.[SalesRqstStatusCodeID]!=''124779'' AND '
ELSE IF @TBL='DL_SM_Call_Request'
    SET @SMO=' A.[CallRqstSourceID] IN(''123834'', ''123835'', ''123838'',''100191'', ''105808'', ''105862'', ''115'', ''123836'', ''123837'', ''124513'', ''124514'', ''124605'', ''126'', ''126224'', ''132'') AND '

CREATE TABLE #COUT(INSCOUNT INT,UPDCOUNT INT,DELCOUNT INT)

IF @TBL NOT LIKE '%_Cust_%' AND @TBL NOT LIKE '%Customer%' AND @TBL!='DL_SM_NeedsPrfl' AND @TBL NOT LIKE 'DL_SM_%'
AND @TBL!='DL_Card_Debit'
    BEGIN
	    SET @K='B.[Cust Numb] AS CustNumb,'
		SET @I=' AND B.[Cust Numb] IS NOT NULL'
		SET @KA='CustNumb,'
        SELECT @NK='[' + COLUMN_NAME + '] ' FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME=@TBL AND TABLE_SCHEMA='dbo' AND COLUMN_NAME IN('Debit Card Numb HASHED','Acct Numb HASHED','AcctNumb HASHED','CallRqstAccountNumber HASHED')
		IF @TBL LIKE 'DL_Acct_SB%' SET @NK='[Concat App Code Acct Numb HASHED]'
		IF @TBL LIKE 'DL_Acct_LN%'
		    BEGIN
			    SET @II=' AND B.[Cust Acct Rlt Type Code] =''901'''
				IF @TBL LIKE 'DL_Acct_LN_Note%'
				    BEGIN
						SET @LKDCUSTID=' JOIN DBO.DL_Cust_Rlt_ToAcct B
						ON B.[Concat App Code Acct Numb HASHED] = A.[Concat App Code Acct Numb HASHED]'	+ @BRANCHFILTER					
					END
				ELSE IF @TBL='DL_Acct_LN'
				    BEGIN					
						SET @LKDCUSTID=' JOIN DBO.[DL_Acct_LN_Note] F ON F.[Acct Numb - Operational HASHED] = A.[Acct Numb - Operational HASHED]
						JOIN DBO.DL_Cust_Rlt_ToAcct B ON B.[Concat App Code Acct Numb HASHED] = F.[Concat App Code Acct Numb HASHED]' + @BRANCHFILTER
					END
				ELSE IF @TBL='DL_Acct_LN_Contact'
				    BEGIN					
						SET @LKDCUSTID=' JOIN DBO.[DL_Acct_LN_Note_Contact] F ON F.[Acct Numb - Operational HASHED] = A.[Acct Numb - Operational HASHED]
						AND F.[Note Addr Name Code] = A.[Acct Addr Type Code]
						JOIN  DBO.DL_Cust_Rlt_ToAcct B ON B.[Concat App Code Acct Numb HASHED] = F.[Concat App Code Acct Numb HASHED]' + @BRANCHFILTER
					END
			END
		--12/8/2021 DL: Added else condition to change relationship between DL_Cust_Rlt_ToAcct and DL_Acct_SB* to use [Concat App Code Acct Numb HASHED] if processing DL_Acct_SB* tables
		ELSE
		    BEGIN
				SET @LKDCUSTID=''
				SELECT @IV=' AND EXISTS(SELECT TOP 1 1 FROM DBO.' + CASE WHEN @TBL LIKE 'DL_Card_Debit_AtchAcct%' THEN 'DL_Card_Debit' ELSE 'DL_Cust_Rlt_ToAcct' END + ' B ' + @BRANCHFILTER + ' WHERE ' + CASE WHEN @TBL LIKE 'DL_Acct_DP%' OR @TBL LIKE '%_MISC' OR @TBL LIKE 'DL_Acct_SB%'
				THEN ' [Cust Acct Rlt Type Code] =''901'' AND ' ELSE '' END + CASE WHEN @TBL LIKE 'DL_Acct_SB%' THEN '[Concat App Code Acct Numb HASHED]' WHEN @TBL LIKE 'DL_Card_Debit_AtchAcct%' THEN '[Debit Card Numb HASHED]' ELSE '[Acct Numb HASHED]' END + '=A.' + @NK + ')'
				SELECT @K='[dbo].[getCustnumb](' + '''' + @TBL + '''' + ',' + @NK + ') AS CustNumb,'
				SELECT @I='',@II=''
			END
		

	END
	ELSE
		BEGIN
			IF @ISCUSTTBLBRANCHFILTER=1
			   BEGIN		    
					SELECT @NK='[' + COLUMN_NAME + '] ' FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME=@TBL AND TABLE_SCHEMA='dbo' AND (COLUMN_NAME LIKE '%Cust Numb%' OR COLUMN_NAME LIKE '%Cust Number%' OR COLUMN_NAME LIKE '%CustNumb%' OR COLUMN_NAME LIKE '%Customer Number%'
					OR COLUMN_NAME LIKE '%CustomerNumber%' OR COLUMN_NAME LIKE '%Cust SM Numb%')

					SET @LKDCUSTID=CHAR(10) + ' JOIN DBO.DL_Customer K ON K.[Cust Numb]=A.' + @NK + ' AND 
					K.[Cust Branch Numb] IN(SELECT [Branch Number] FROM [lookup].[Branch] WHERE [Active Environment]=''Y'')' + CHAR(10)
				END
		
		END


		EXEC('INSERT #COUT(INSCOUNT,UPDCOUNT,DELCOUNT)
		SELECT (SELECT COUNT(1) AS C FROM DBO.' + @TBL + ' A '   + @LKDCUSTID + '
		WHERE ' + @SMO + ' A.ISCONSUMED=0 ' + @I + @II + @IV + @CC + ') AS I,
		(SELECT COUNT(1) AS C FROM ' + @TBL + '_DELTA A  '   + @LKDCUSTID + '
		WHERE ' + @SMO + ' A.ISCONSUMED=0 AND A.ACTION LIKE ''U%'' ' + @I + @II + @IV + @CC + ') AS U,
		(SELECT COUNT(1) AS C FROM ' + @TBL + '_DELTA A '   + @LKDCUSTID + '
		WHERE ' + @SMO + ' A.ISCONSUMED=0 AND A.ACTION LIKE ''D%'' ' + @I + @II + @IV + @CC + ') AS D')

		SELECT @INSCOUNT=INSCOUNT,@UPDCOUNT=UPDCOUNT,@DELCOUNT=DELCOUNT FROM #COUT

END
