/****** Object:  StoredProcedure [dbo].[getDelta]    Script Date: 9/19/2022 5:15:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER  PROC [dbo].[getDelta](@TBL VARCHAR(100),@COLS VARCHAR(MAX) = NULL,@PAGE VARCHAR(20)=NULL,@ISJSON BIT=1,@JSON VARCHAR(MAX) OUT,
@INSCOUNT INT OUT,@UPDCOUNT INT OUT,@DELCOUNT INT OUT,@CALLERID INT OUT)
AS
BEGIN


IF @TBL IS NULL OR @TBL=''
    BEGIN
	    ;THROW 51000, 'Table name must be provided!', 1;  
		RETURN;
	END
	

DECLARE @SQL VARCHAR(MAX),@KEYS VARCHAR(4000),@JKEYS VARCHAR(4000),@JKEYS_NULL VARCHAR(4000), @LKDCUSTID VARCHAR(4000)='',@K VARCHAR(5000)='',@NK VARCHAR(100)='',
@KA VARCHAR(5000)='',@COLALIAS VARCHAR(MAX),@OKEYS VARCHAR(4000),@SKEYS VARCHAR(4000),@I VARCHAR(100)='',@II VARCHAR(100)='',@IV VARCHAR(4000)='',@JSONCONS VARCHAR(MAX),
@SMO VARCHAR(4000)='',@BRANCHFILTER VARCHAR(4000)='', @CC VARCHAR(1000)='',@ISCUSTTBLBRANCHFILTER BIT=0,@DP VARCHAR(200)='',@DPA VARCHAR(200)=''

IF @COLS IS NOT NULL
    BEGIN
	
	SET @COLALIAS=REPLACE(REPLACE(@COLS,' ',''),'''','')
	SET @KEYS=(SELECT STUFF((SELECT ',' + REPLACE(REPLACE(s.value,' ',''),'-','') FROM
	dbo.STGkeys t CROSS APPLY STRING_SPLIT(t.TKEYS, ',') s 
	WHERE TNAME=@TBL
	FOR XML PATH('')),1,1,''))
	
	SET @COLALIAS+=','+@KEYS;

    SET @COLS=(SELECT STUFF((SELECT ',ISNULL(A.[' + REPLACE(value,'','''') + '],'''') AS ' + REPLACE(REPLACE(value,' ',''),'-','') FROM STRING_SPLIT(@COLS,',') G
	FOR XML PATH('')),1,1,''))
	
	SET @KEYS=(SELECT STUFF((SELECT ',ISNULL(A.[' + value + '],'''') AS ' + REPLACE(REPLACE(value,' ',''),'-','') FROM
	dbo.STGkeys t CROSS APPLY STRING_SPLIT(t.TKEYS, ',') s 
	WHERE TNAME=@TBL
	FOR XML PATH('')),1,1,''))
	
	SET @COLS+=','+@KEYS;
	
	END
ELSE
    BEGIN
	
	SET @COLALIAS=(SELECT STUFF((SELECT ',' + REPLACE(REPLACE(REPLACE(COLUMN_NAME,' ',''),'-',''),'''','') FROM
			INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME=@TBL AND TABLE_SCHEMA='dbo' AND COLUMN_NAME NOT IN('ISCONSUMED','CREATEDDATE','MODIFIEDDATE')
			ORDER BY COLUMN_NAME
			FOR XML PATH('')),1,1,''))
			
    SET @COLS=(SELECT STUFF((SELECT ',ISNULL(A.[' + REPLACE(COLUMN_NAME,'','''') + '],'''') AS ' + REPLACE(REPLACE(COLUMN_NAME,' ',''),'-','') FROM
			INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME=@TBL AND TABLE_SCHEMA='dbo' AND COLUMN_NAME NOT IN('ISCONSUMED','CREATEDDATE','MODIFIEDDATE')
			ORDER BY COLUMN_NAME
			FOR XML PATH('')),1,1,''))
	END

CREATE TABLE #JSONOUT(STR VARCHAR(MAX),INSCOUNT INT,UPDCOUNT INT,DELCOUNT INT)
CREATE TABLE #JSONOUTCONS(STR VARCHAR(MAX))

			SET @JKEYS=(SELECT REPLACE(STUFF((SELECT ',D.[' + s.value + ']=A.[' + s.value + ']' FROM
			dbo.STGkeys t CROSS APPLY STRING_SPLIT(t.TKEYS, ',') s 
			WHERE TNAME=@TBL
			FOR XML PATH('')),1,1,''),',',' AND '))

			SET @JKEYS_NULL=(SELECT REPLACE(STUFF((SELECT ',D.[' + s.value + '] IS NULL' FROM
			dbo.STGkeys t CROSS APPLY STRING_SPLIT(t.TKEYS, ',') s 
			WHERE TNAME=@TBL
			FOR XML PATH('')),1,1,''),',',' AND '))
			
	SET @KEYS=(SELECT STUFF((SELECT ',A.[' + s.value + ']' FROM
	dbo.STGkeys t CROSS APPLY STRING_SPLIT(t.TKEYS, ',') s 
	WHERE TNAME=@TBL
	FOR XML PATH('')),1,1,''))

	SET @OKEYS=(SELECT STUFF((SELECT ',' + REPLACE(REPLACE(s.value,' ',''),'-','') FROM
	dbo.STGkeys t CROSS APPLY STRING_SPLIT(t.TKEYS, ',') s 
	WHERE TNAME=@TBL
	FOR XML PATH('')),1,1,''))

    SET @SKEYS=(SELECT STUFF((SELECT ',' + s.value FROM
	dbo.STGkeys t CROSS APPLY STRING_SPLIT(t.TKEYS, ',') s 
	WHERE TNAME=@TBL
	FOR XML PATH('')),1,1,''))

IF @@SERVERNAME='fb-cus-fbhub-test-ssv-01'
    BEGIN
	    IF @TBL='DL_Customer'
		    SET @CC = ' AND A.[Cust Branch Numb] IN(SELECT [Branch Number] FROM [lookup].[Branch] WHERE [Active Environment]=''Y'') '
		ELSE
		    BEGIN
				SET @BRANCHFILTER=CHAR(10) + ' JOIN DBO.DL_Customer K ON K.[Cust Numb]=B.[Cust Numb] AND 
				K.[Cust Branch Numb] IN(SELECT [Branch Number] FROM [lookup].[Branch] WHERE [Active Environment]=''Y'')' + CHAR(10)
				SET @ISCUSTTBLBRANCHFILTER=1
			END
	END
	
IF @TBL='DL_SM_Sales_Request'
    SET @SMO=' A.[SalesRqstStatusCodeID]!=''124779'' AND '
ELSE IF @TBL='DL_SM_Call_Request'
    SET @SMO=' A.[CallRqstSourceID] IN(''123834'', ''123835'', ''123838'',''100191'', ''105808'', ''105862'', ''115'', ''123836'', ''123837'', ''124513'', ''124514'', ''124605'', ''126'', ''126224'', ''132'') AND '

IF @TBL='DL_ACCT_DP'
    BEGIN
	    SET @DPA='OperAcctNewAcctApplUpldName,' 
		SET @DP='[dbo].[ufnGet_EmployeeName]([Oper Acct New Acct Appl Upld Usrid]) AS OperAcctNewAcctApplUpldName,'
	END
IF @TBL NOT LIKE '%_Cust_%' AND @TBL NOT LIKE '%Customer%' AND @TBL!='DL_SM_NeedsPrfl' AND @TBL NOT LIKE 'DL_SM_%'
AND @TBL!='DL_Card_Debit'
    BEGIN
	    SET @K='B.[Cust Numb] AS CustNumb,'
		SET @I=' AND B.[Cust Numb] IS NOT NULL'
		SET @KA='CustNumb,'
        SELECT @NK='[' + COLUMN_NAME + '] ' FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME=@TBL AND TABLE_SCHEMA='dbo' AND COLUMN_NAME IN('Debit Card Numb HASHED','Acct Numb HASHED','AcctNumb HASHED','CallRqstAccountNumber HASHED')
				
		IF @TBL LIKE 'DL_Acct_SB%' SET @NK='[Concat App Code Acct Numb HASHED]'
		IF @TBL LIKE 'DL_Acct_LN%'
		    BEGIN
			    SET @II=' AND B.[Cust Acct Rlt Type Code] =''901'''
				IF @TBL LIKE 'DL_Acct_LN_Note%'
				    BEGIN
						SET @LKDCUSTID=' JOIN DBO.DL_Cust_Rlt_ToAcct B
						ON B.[Concat App Code Acct Numb HASHED] = A.[Concat App Code Acct Numb HASHED]' + @BRANCHFILTER	
					END
				ELSE IF @TBL='DL_Acct_LN'
				    BEGIN					
						SET @LKDCUSTID=' JOIN DBO.[DL_Acct_LN_Note] F ON F.[Acct Numb - Operational HASHED] = A.[Acct Numb - Operational HASHED]
						JOIN DBO.DL_Cust_Rlt_ToAcct B ON B.[Concat App Code Acct Numb HASHED] = F.[Concat App Code Acct Numb HASHED]' + @BRANCHFILTER
					END
				ELSE IF @TBL='DL_Acct_LN_Contact'
				    BEGIN					
						SET @LKDCUSTID=' JOIN DBO.[DL_Acct_LN_Note_Contact] F ON F.[Acct Numb - Operational HASHED] = A.[Acct Numb - Operational HASHED]
						AND F.[Note Addr Name Code] = A.[Acct Addr Type Code]
						JOIN  DBO.DL_Cust_Rlt_ToAcct B ON B.[Concat App Code Acct Numb HASHED] = F.[Concat App Code Acct Numb HASHED]' + @BRANCHFILTER
					END
			END
		--12/8/2021 DL: Added else condition to change relationship between DL_Cust_Rlt_ToAcct and DL_Acct_SB* to use [Concat App Code Acct Numb HASHED] if processing DL_Acct_SB* tables
		ELSE
		    BEGIN
				SET @LKDCUSTID=''
				SELECT @IV=' AND EXISTS(SELECT TOP 1 1 FROM DBO.' + CASE WHEN @TBL LIKE 'DL_Card_Debit_AtchAcct%' THEN 'DL_Card_Debit' ELSE 'DL_Cust_Rlt_ToAcct' END + ' B ' + @BRANCHFILTER + ' WHERE ' + CASE WHEN @TBL LIKE 'DL_Acct_DP%' OR @TBL LIKE '%_MISC' OR @TBL LIKE 'DL_Acct_SB%'
				THEN ' [Cust Acct Rlt Type Code] =''901'' AND ' ELSE '' END + CASE WHEN @TBL LIKE 'DL_Acct_SB%' THEN '[Concat App Code Acct Numb HASHED]' WHEN @TBL LIKE 'DL_Card_Debit_AtchAcct%' THEN '[Debit Card Numb HASHED]' ELSE '[Acct Numb HASHED]' END + '=A.' + @NK + ')'
				SELECT @K='[dbo].[getCustnumb](' + '''' + @TBL + '''' + ',' + @NK + ') AS CustNumb,'
				SELECT @I='',@II=''
			END
		

	END
	ELSE
		BEGIN
			IF @ISCUSTTBLBRANCHFILTER=1
			   BEGIN		    
					SELECT @NK='[' + COLUMN_NAME + '] ' FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME=@TBL AND TABLE_SCHEMA='dbo' AND (COLUMN_NAME LIKE '%Cust Numb%' OR COLUMN_NAME LIKE '%Cust Number%' OR COLUMN_NAME LIKE '%CustNumb%' OR COLUMN_NAME LIKE '%Customer Number%'
					OR COLUMN_NAME LIKE '%CustomerNumber%' OR COLUMN_NAME LIKE '%Cust SM Numb%')

					SET @LKDCUSTID=CHAR(10) + ' JOIN DBO.DL_Customer K ON K.[Cust Numb]=A.' + @NK + ' AND 
					K.[Cust Branch Numb] IN(SELECT [Branch Number] FROM [lookup].[Branch] WHERE [Active Environment]=''Y'')' + CHAR(10)
				END
		
		END
					

IF @ISJSON=1
	BEGIN
		EXEC('	
		SELECT TOP ' + @PAGE + ' ' + @K + @DP + @COLS + ',CAST(''INSERTS'' AS VARCHAR(20)) AS recordOperation,A.CREATEDDATE INTO #TBLOUT FROM DBO.' + @TBL + ' A '   + @LKDCUSTID + '
		WHERE ' + @SMO + ' A.ISCONSUMED=0 ' + @I + @II + @IV + @CC + '
		ORDER BY A.CREATEDDATE

		INSERT INTO #TBLOUT
		SELECT TOP ' + @PAGE + ' ' + @K + @DP + @COLS + ',''UPDATES'',A.CREATEDDATE FROM ' + @TBL + '_DELTA A '   + @LKDCUSTID + '
		WHERE ' + @SMO + ' A.ISCONSUMED=0 AND A.ACTION LIKE ''U%'' ' + @I + @II + @IV + @CC + '
		ORDER BY A.CREATEDDATE

		INSERT INTO #TBLOUT
		SELECT TOP ' + @PAGE + ' ' + @K + @DP + @COLS + ',''SOFTDELETE'',A.CREATEDDATE FROM ' + @TBL + '_DELTA A '   + @LKDCUSTID + '
		WHERE ' + @SMO + ' A.ISCONSUMED=0 AND A.ACTION LIKE ''D%'' ' + @I + @II + @IV + @CC + '
		ORDER BY A.CREATEDDATE

	    INSERT #JSONOUTCONS(STR)
		SELECT (SELECT ' + @OKEYS + ',recordOperation,CREATEDDATE FROM #TBLOUT 
		FOR JSON PATH) AS S

		INSERT #JSONOUT(STR,INSCOUNT,UPDCOUNT,DELCOUNT)
		SELECT (SELECT ' + @KA + @DPA + @COLALIAS + ',recordOperation FROM #TBLOUT ORDER BY CREATEDDATE 
		FOR JSON PATH) AS S,(SELECT COUNT(1) AS C FROM #TBLOUT WHERE recordOperation LIKE ''I%'') AS I
		,(SELECT COUNT(1) AS C FROM #TBLOUT WHERE recordOperation LIKE ''U%'') AS U 
		,(SELECT COUNT(1) AS C FROM #TBLOUT WHERE recordOperation LIKE ''S%'') AS D ')

		SELECT @JSON=STR,@INSCOUNT=INSCOUNT,@UPDCOUNT=UPDCOUNT,@DELCOUNT=DELCOUNT FROM #JSONOUT

		IF @JSON IS NOT NULL
			BEGIN

				SET @JSON='{"sourceSystem":"FIS","sourceDatabase":"LEVEL1FBHUB","sourceSchema":"dbo","sourceTable":"' + @TBL + '","primaryKeyFields":"' + @OKEYS + '","partitionKeyFields":"","publisherAlias":"","publisherProcessTimeUtc":"","delta":' + @JSON + '}'

			END



	END
	ELSE
	    BEGIN
		    
			EXEC('
			SELECT TOP ' + @PAGE + ' ''FIS'' AS sourceSystem,''LEVEL1FBHUB'' AS sourceDatabase,''dbo'' AS sourceSchema,
			''' + @TBL + ''' AS sourceTable,''' + @OKEYS + ''' AS primaryKeyFields,' + @K + @DP + @COLS + ',CAST(''INSERTS'' AS VARCHAR(20)) AS recordOperation,A.CREATEDDATE INTO #TBLOUT FROM DBO.' + @TBL + ' A '   + @LKDCUSTID + '
			WHERE ' + @SMO + ' A.ISCONSUMED=0 ' + @I + @II + @IV + @CC + '
			ORDER BY A.CREATEDDATE;
			INSERT INTO #TBLOUT
			SELECT TOP ' + @PAGE + ' ''FIS'' AS sourceSystem,''SFDCDB'' AS sourceDatabase,''dbo'' AS sourceSchema,
			''' + @TBL + ''' AS sourceTable,''' + @OKEYS + ''' AS primaryKeyFields,' + @K + @DP + @COLS + ',''UPDATES'',A.CREATEDDATE FROM ' + @TBL + '_DELTA A  '   + @LKDCUSTID + '
			WHERE ' + @SMO + ' A.ISCONSUMED=0 AND A.ACTION LIKE ''U%'' ' + @I + @II + @IV + @CC + '
			ORDER BY A.CREATEDDATE;
			INSERT INTO #TBLOUT
			SELECT TOP ' + @PAGE + ' ''FIS'' AS sourceSystem,''SFDCDB'' AS sourceDatabase,''dbo'' AS sourceSchema,
			''' + @TBL + ''' AS sourceTable,''' + @OKEYS + ''' AS primaryKeyFields,' + @K + @DP + @COLS + ',''SOFTDELETE'',A.CREATEDDATE FROM ' + @TBL + '_DELTA A '   + @LKDCUSTID + '
			WHERE ' + @SMO + ' A.ISCONSUMED=0 AND A.ACTION LIKE ''D%'' ' + @I + @II + @IV + @CC + '
			ORDER BY A.CREATEDDATE;

			INSERT #JSONOUTCONS(STR)
			SELECT (SELECT ' + @OKEYS + ',recordOperation,CREATEDDATE FROM #TBLOUT
			FOR JSON PATH) AS S

			INSERT #JSONOUT(INSCOUNT,UPDCOUNT,DELCOUNT)
			SELECT (SELECT COUNT(1) AS C FROM #TBLOUT WHERE recordOperation LIKE ''I%'') AS I
			,(SELECT COUNT(1) AS C FROM #TBLOUT WHERE recordOperation LIKE ''U%'') AS U 
			,(SELECT COUNT(1) AS C FROM #TBLOUT WHERE recordOperation LIKE ''S%'') AS D
			SELECT * FROM #TBLOUT ORDER BY CREATEDDATE')

			SELECT @INSCOUNT=INSCOUNT,@UPDCOUNT=UPDCOUNT,@DELCOUNT=DELCOUNT FROM #JSONOUT


		END
		SELECT @JSONCONS=STR FROM #JSONOUTCONS

		IF @JSONCONS IS NOT NULL
			BEGIN
				
				INSERT INTO dbo.SetConsumed(TBL,KEYS,DOC)				
				SELECT @TBL,@SKEYS,REPLACE(@JSONCONS,'''','''''')
				SET @CALLERID=SCOPE_IDENTITY()

			END
END
