/****** Object:  StoredProcedure [dbo].[loadSFIDs]    Script Date: 9/19/2022 5:12:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[loadSFIDs](@Recs VARCHAR(MAX), @Tname VARCHAR(100),@Fields VARCHAR(MAX), @TotalAdded INT OUT,@IsRerun BIT OUT,@SFDCDTSTR VARCHAR(50) OUT)
AS
BEGIN 

IF NOT EXISTS(SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA='lookup' AND TABLE_NAME=@Tname)
    BEGIN
	    ;THROW 51000, 'Table name is either not provided or does not exist!', 1;  
		RETURN;
	END

SET @Fields=(SELECT STUFF((SELECT ',' + value
FROM (SELECT value
FROM STRING_SPLIT(@Fields,',') L) G
WHERE G.value IN(SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA='lookup' AND TABLE_NAME=@Tname)
FOR XML PATH('')),1,1,''))

DECLARE @SQL NVARCHAR(MAX),@INS VARCHAR(MAX),@INSVALS VARCHAR(MAX),@UPD VARCHAR(MAX),@UPD_WHERE VARCHAR(MAX),@LastLoaded DATETIME

SET @SQL='SELECT @V=ISNULL(MAX(MODIFIEDDATE),GETUTCDATE()) FROM lookup.' + @Tname 
EXEC SP_EXECUTESQL @SQL, N'@V DATETIME OUT', @LastLoaded OUT


SET @IsRerun=0
SET @SFDCDTSTR=''
IF DATEDIFF(DAY,@LastLoaded,GETUTCDATE())>2
    BEGIN
		SET @IsRerun=1
		SELECT @SFDCDTSTR=FORMAT(@LastLoaded,'yyyy-MM-ddTHH:mm:ssZ')		
	END


SET @INS=@Fields

SET @UPD=(SELECT STUFF((SELECT ',T.[' + s.value + ']=S.[' + s.value + ']' FROM
INFORMATION_SCHEMA.COLUMNS t CROSS APPLY STRING_SPLIT(t.COLUMN_NAME, ',') s 
WHERE TABLE_SCHEMA='lookup' AND TABLE_NAME=@Tname AND COLUMN_NAME NOT IN('CreatedDate','ModifiedDate')
FOR XML PATH('')),1,1,''))

SET @INSVALS=(SELECT STUFF((SELECT ',S.' + value FROM STRING_SPLIT(@Fields,',') G
FOR XML PATH('')),1,1,''))

SET @UPD_WHERE=(SELECT REPLACE(STUFF((SELECT '@ISNULL(T.[' + COLUMN_NAME + '],'''')!=ISNULL(S.[' + COLUMN_NAME + '],'''')' FROM
INFORMATION_SCHEMA.COLUMNS 
WHERE TABLE_SCHEMA='lookup' AND TABLE_NAME=@Tname AND COLUMN_NAME NOT IN('CreatedDate','ModifiedDate')
FOR XML PATH('')),1,1,''),'@',' OR '))	

SET @Fields=(SELECT STUFF((SELECT ',' + value + ' VARCHAR(500) ''$.' + value + ''''
FROM STRING_SPLIT(@Fields,',') G
FOR XML PATH('')),1,1,''))

SET @SQL='INSERT INTO lookup.' + @Tname + '(' + @INS + ')' + CHAR(10) +
'SELECT ' + @INSVALS + ' FROM (SELECT * FROM OPENJSON('''+@Recs+''')
			WITH('+@Fields+')) AS S' + CHAR(10) +
'LEFT JOIN lookup.' + @Tname + ' AS T ON T.ID=S.ID' + CHAR(10) +
'WHERE T.ID IS NULL'
			
EXEC(@SQL)

SELECT @TotalAdded=@@ROWCOUNT
SELECT @TotalAdded=ISNULL(@TotalAdded,0)

EXEC('UPDATE T' +
' SET T.MODIFIEDDATE=GETUTCDATE(),' + @UPD + 
' FROM lookup.' + @Tname + ' AS T' + 
' RIGHT JOIN (SELECT * FROM OPENJSON('''+@Recs+''')
			WITH('+@Fields+')) AS S ON T.ID=S.ID ' +
' WHERE T.ID=S.ID AND (' + @UPD_WHERE + ')')

        
END

