/****** Object:  StoredProcedure [dbo].[PurgeOldDelta]    Script Date: 9/19/2022 5:11:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[PurgeOldDelta](@DAYS VARCHAR(20))
AS
BEGIN
SET XACT_ABORT ON
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
  
	DECLARE @SQL VARCHAR(MAX)

	SET @SQL=(SELECT REPLACE(STUFF(( SELECT '@WHILE EXISTS(SELECT 1 FROM ' + TABLE_NAME + ' WHERE ISCONSUMED=1 AND DATEDIFF(DAY,CREATEDDATE,GETDATE())>=' + @DAYS + ')' + CHAR(10) +
    '    BEGIN ' + CHAR(10) + '    DELETE TOP (10000) FROM '+ TABLE_NAME + ' WHERE ISCONSUMED=1 AND DATEDIFF(DAY,CREATEDDATE,GETDATE())>=' + @DAYS + CHAR(10) +
			'    END'
	 FROM INFORMATION_SCHEMA.TABLES
WHERE TABLE_NAME LIKE 'DL_%_%_Delta' AND TABLE_NAME NOT LIKE '%Extract%' AND TABLE_NAME NOT LIKE '%Needs%'
FOR XML PATH(''),TYPE).value('.', 'VARCHAR(MAX)'),1,1,''),'@',CHAR(10)))

	 EXEC(@SQL)
	 
	 DELETE FROM ETLcontrol WHERE ISPROCESSED=1 AND DATEDIFF(DAY,COMPLETEDDATE,GETDATE())>=@DAYS
	

	
END



