/****** Object:  StoredProcedure [dbo].[ResetDeltaWithDTRange]    Script Date: 9/19/2022 5:10:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROC [dbo].[ResetDeltaWithDTRange](@StartDate VARCHAR(20),@EndDate VARCHAR(20))
AS
BEGIN
SET XACT_ABORT ON
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
  
	DECLARE @SQL VARCHAR(MAX)

	SET @SQL=(SELECT REPLACE(STUFF((SELECT '@INSERT ' + T.TABLE_NAME + '(' + (SELECT STUFF((SELECT ',[' + COLUMN_NAME + ']' FROM
	INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME=REPLACE(T.TABLE_NAME,'_Delta','') AND COLUMN_NAME NOT IN('Date Process','Date Extract','DateProcess','DateExtract','CREATEDDATE','ISCONSUMED','MODIFIEDDATE')
	ORDER BY COLUMN_NAME
	FOR XML PATH('')),1,1,'')) + ',ACTION)' + CHAR(10) + 'SELECT ' + (SELECT STUFF((SELECT ',[' + COLUMN_NAME + ']' FROM
	INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME=REPLACE(T.TABLE_NAME,'_Delta','') AND COLUMN_NAME NOT IN('Date Process','Date Extract','DateProcess','DateExtract','CREATEDDATE','ISCONSUMED','MODIFIEDDATE')
	ORDER BY COLUMN_NAME
	FOR XML PATH('')),1,1,'')) + ',''UPDATE'' FROM DBO.' + REPLACE(T.TABLE_NAME,'_Delta','') + CHAR(10) + ' WHERE CAST(MODIFIEDDATE AS DATE)>=CAST(''' + @StartDate + ''' AS DATE) AND CAST(MODIFIEDDATE AS DATE)<=CAST(''' + @EndDate + ''' AS DATE)'
	FROM INFORMATION_SCHEMA.TABLES T
    WHERE TABLE_NAME LIKE 'DL_%_%_Delta' AND TABLE_NAME NOT LIKE '%Extract%' AND TABLE_NAME NOT LIKE '%Needs%'
     FOR XML PATH(''),TYPE).value('.', 'VARCHAR(MAX)'),1,1,''),'@',CHAR(10)))

	EXEC(@SQL)
	
END
