/****** Object:  StoredProcedure [dbo].[setIsConsumed]    Script Date: 9/19/2022 5:09:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[setIsConsumed](@CALLERID INT)
AS
BEGIN
	IF EXISTS(SELECT 1 FROM dbo.SetConsumed WHERE ID=@CALLERID)
		BEGIN
		    DECLARE @TBL VARCHAR(200),@KEYS VARCHAR(MAX),@COL VARCHAR(MAX),@DOC VARCHAR(MAX),@JKEYS VARCHAR(MAX)	

			SELECT @TBL=TBL,@KEYS=KEYS,@COL=REPLACE(REPLACE(KEYS,' ',''),'-',''),@DOC=DOC FROM dbo.SetConsumed
			WHERE ID=@CALLERID

			SET @JKEYS=(SELECT REPLACE(STUFF((SELECT ',A.[' + s.value + ']=B.[' + s.value + ']' FROM
			dbo.STGkeys t CROSS APPLY STRING_SPLIT(t.TKEYS, ',') s 
			WHERE TNAME=@TBL
			FOR XML PATH('')),1,1,''),',',' AND '))

			SET @COL=(SELECT STUFF((SELECT ',' + value + ' VARCHAR(500) ''$.' + value + ''''
			FROM STRING_SPLIT(@COL,',') G
	        FOR XML PATH('')),1,1,''))

			SET @KEYS=(SELECT STUFF((SELECT ',' + REPLACE(REPLACE(value,' ',''),'-','') + ' AS [' + value + ']'
			FROM STRING_SPLIT(@KEYS,',') G
	        FOR XML PATH('')),1,1,''))

			IF @TBL='DL_Acct_LN_Note'
			    BEGIN
				    UPDATE STATISTICS [dbo].[DL_Acct_LN_Note]
					UPDATE STATISTICS [dbo].[DL_Acct_LN_Note_DELTA]
				END

			EXEC('UPDATE A SET A.ISCONSUMED=1 FROM DBO.'+@TBL+' A INNER JOIN(SELECT ' + @KEYS + ',recordOperation FROM OPENJSON('''+@DOC+''')
			WITH('+@COL+', recordOperation VARCHAR(50) ''$.recordOperation'')) AS B ON ' + @JKEYS + ' WHERE B.recordOperation LIKE ''I%''')
			
			EXEC('UPDATE A SET A.ISCONSUMED=1 FROM DBO.'+@TBL+'_DELTA A INNER JOIN(SELECT ' + @KEYS + ',recordOperation,CREATEDDATE FROM OPENJSON('''+@DOC+''')
			WITH('+@COL+', CREATEDDATE DATETIME ''$.CREATEDDATE'', recordOperation VARCHAR(50) ''$.recordOperation'')) AS B ON ' + @JKEYS + ' AND A.CREATEDDATE=B.CREATEDDATE WHERE B.recordOperation LIKE ''U%''')

			EXEC('UPDATE A SET A.ISCONSUMED=1 FROM DBO.'+@TBL+'_DELTA A INNER JOIN(SELECT ' + @KEYS + ',recordOperation,CREATEDDATE FROM OPENJSON('''+@DOC+''')
			WITH('+@COL+', CREATEDDATE DATETIME ''$.CREATEDDATE'',recordOperation VARCHAR(50) ''$.recordOperation'')) AS B ON ' + @JKEYS + ' AND A.CREATEDDATE=B.CREATEDDATE WHERE B.recordOperation LIKE ''S%''')
			
			DELETE FROM dbo.SetConsumed WHERE ID=@CALLERID
			
        END
END




