/****** Object:  StoredProcedure [dbo].[getTodaysFiles]    Script Date: 9/19/2022 5:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[getTodaysFiles](@Files VARCHAR(MAX))
AS
BEGIN 

INSERT INTO DBO.ETLcontrol(FPATH,FNAME)
SELECT FPATH,FNAME FROM(
SELECT '/'+REPLACE(N,RIGHT(N, CHARINDEX('/', REVERSE(N)) - 1),'') AS FPATH,
RIGHT(N, CHARINDEX('/', REVERSE(N)) - 1) AS FNAME FROM(SELECT N FROM OPENJSON(@Files)
WITH(N VARCHAR(200) '$.Name')) AS A
WHERE N LIKE '%.%') G
WHERE NOT EXISTS(SELECT 1 FROM DBO.ETLcontrol WHERE FPATH=G.FPATH AND FNAME=G.FNAME)

        
END

